.member {
  display: table;
  width: 100%;

  & > div {
    display: table-cell;
  }

  .left-section {
    vertical-align: top;
  }

  .right-section {
    z-index: 800;

    i.admin, span.admin {
      color: #23527c;
    }
  }
}
