.list-header {
  text-align: right;

  .input-group {
    margin-left: auto;

    .input-group-addon {
      width: 34px;
      height 34px;
    }

    input[name='search'] {
      width: 0;
      padding 0;
      display: table-cell !important;
    }
  }
}
