buttonSuccessHover() {
  color: #fff;
  background-color #449d44;
  border-color: #398439;
}

.list-header {
  text-align: right;

  .input-group {
    margin-left: auto;

    .input-group-addon {
      width: 34px;
      height 34px;

      &.btn-success {
        background-color: #5cb85c;
        border-color: #4cae4c;

        &:hover, &:focus, &.focus, &:active, &.active {
          buttonSuccessHover()
        }

        a {
          color: #fff;
        }
      }
    }

    input[name='search'] {
      width: 0;
      padding 0;
      display: table-cell !important;
    }
  }
}
