<!-- TODO: Cleanup Comments -->
<div class="form-group people-name" ng-class="$ctrl.getCssClass()">
  <label class="control-label" ng-bind-html="$ctrl.label"></label>
  <div class="input-group">
    <span class="input-group-addon">Required</span>
    <input type="text" class="form-control" placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.formData.name" required member-name="$ctrl.name">
    <span class=input-group-btn>
      <a href="#" type="button" class="btn no-focus btn-default"
         popover-title="Mobile App Settings"
         popover-is-open="$ctrl.mobileConfigIsOpen"
         popover-placement="left" mobile-app-config="$ctrl.formData.mobileAppUser"
         uib-popover-template="'name/mobile-app-config/mobile-app-config.modal.html'">
        <span class="glyphicon glyphicon-phone"></span> Mobile App
      </a>
      <a href="#" type="button" class="btn no-focus" toggle-button="$ctrl.formData.available">Available</a>
    </span>
  </div>
  <span class="help-block" ng-show="$ctrl.getHelpText()" ng-bind-html="$ctrl.getHelpText()"></span>
</div>
<!--
<div class="form-group" ng-class="{'has-error': updateForm.name.$viewValue != selected.name && updateForm.name.$invalid, 'has-success': updateForm.name.$viewValue != selected.name && updateForm.name.$valid}">
  <label for="name" class="control-label" ng-bind-html="$ctrl.label"/>
  <div class="input-group">
    <span class="input-group-addon">Required</span>
    <input type="text" id="name" name="name" class="form-control" placeholder="${g.message(code: 'teamMember.name.label', default: 'Name')}" ng-model="name" ng-disabled="formLoading" required>
    <span class="input-group-btn">
        <a id="mobileAppPopOver" href="#" class="btn no-focus" type="button" style="margin-left: 6px; margin-right: 6px;" ng-class="{'btn-success': mobileAppUser, 'btn-default': !mobileAppUser}"
           popover-template="mobileAppPopup.templateUrl" popover-title="{{mobileAppPopup.title}}" popover-placement="left" popover-is-open="mobileAppPopup.open" popover-hide-on-blur tooltip title="View Mobile App Configurations" data-placement="left">
           <span class="glyphicon glyphicon-phone"></span> Mobile App</a>
        <a href="#" class="btn no-focus" type="button" ng-class="{'btn-success': available, 'btn-default': !available}" ng-click="available = !available" tooltip title="Toggle Availability" data-placement="left">Available</a>
    </span>
  </div>
  <span class="help-block" ng-show="updateForm.name.$viewValue != selected.name && updateForm.name.$error.required">Please enter the member's name.</span>
  <script type="text/ng-template" id="mobileApp.html">
    <div>
      <label class="control-label">Tab Privileges</label>
      <div class="form-group form-inline">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="service" ng-change="updateService(service)"> Service
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="message" ng-change="updateMessage(message)"> Message
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="map" ng-change="updateMap(map)"> Map
          </label>
        </div>
      </div>

      <div class="form-group">
        &lt;!&ndash;<label for="role" class="control-label"><g:message code="teamMember.agentRole" default="User Privilege"/></label>&ndash;&gt;
        <select id="role" name="role" class="form-control" ng-model="role" ng-disabled="formLoading" ng-change="updatePrivilege(role)" >
          &lt;!&ndash;<g:each in="${AgentRole.values()}" var="r">
            <option value="${r.value}">${r.toString()}</option>
          </g:each>&ndash;&gt;
        </select>
      </div>

      <div class="form-group">
        &lt;!&ndash;<label for="mobileKey" class="control-label" style="margin-top: 10px"><g:message code="teamMember.alternativeNumber.mobileKey" default="Mobile Key"/></label>&ndash;&gt;
        <input type="text" id="mobileKey" name="mobileKey" class="form-control" placeholder="${g.message(code: 'teamMember.alternativeNumber.mobileKey', default: 'Mobile Key')}" ng-model="selected.mobileKey" readonly="readonly" >
      </div>

      <div class="form-group text-right">
        <button type="button" class="btn btn-default" ng-class="{'btn-danger': mobileAppUser, 'btn-success': !mobileAppUser}" ng-click="toggleAppUser()" style="margin-top: 10px">
          {{mobileAppUser ? 'Deactivate' : 'Activate'}}
        </button>
      </div>
    </div>
  </script>
</div>
-->
