.app {
  height: 100%;
  background-color: $lightBgColor;
}

.input-group-addon {

  &.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;

    &:hover, &:focus, &.focus, &:active, &.active {
      color: #fff;
      background-color #449d44;
      border-color: #398439;
    }

    a {
      color: #fff;
    }
  }
}
