<div class="panel panel-default">
  <div class="panel-heading">
    <list-header search="$ctrl.search" search-changed="$ctrl.searchChange"></list-header>
  </div>
  <ul class="list-group" style="max-height: 410px">
    <li ng-repeat="data in $ctrl.items track by data.id" class="list-group-item"
        ng-class="{ disabled: !$ctrl.enabled, active: $ctrl.selected == data.id }"
        ng-click="$ctrl.select(data)">
      <member item="data" enabled="$ctrl.enabled" update-list="$ctrl.refresh()"></member>
    </li>
  </ul>
</div>
<div class="text-center" ng-if="$ctrl.pageCount > 0">
  <ul uib-pagination total-items="$ctrl.count" ng-model="$ctrl.current" max-size="4"
      class="pagination-sm" ng-change="$ctrl.pageChange({current: $ctrl.current})"
      boundary-links="false" rotate="false" num-pages="$ctrl.pageCount" next-text="&raquo;"
      previous-text="&laquo;"></ul>
</div>
