<div class="people-form" ng-if="$ctrl.selected">
  <form name="$ctrl.form" novalidate>
    <person-name form="$ctrl.form"
                 name="name"
                 label="Name"
                 placeholder="Name"
                 form-data="$ctrl.formData"
                 has-changed="$ctrl.hasChanged('name')">
    </person-name>
    <person-email form="$ctrl.form"
                  name="email"
                  label="Email"
                  placeholder="Email"
                  form-data="$ctrl.formData"
                  has-changed="$ctrl.hasChanged('email')">
    </person-email>
    <country-input form="$ctrl.form"
                   name="country"
                   label="Country"
                   model="$ctrl.formData.country"
                   has-changed="$ctrl.hasChanged('country')">
    </country-input>
    <phone-input form="$ctrl.form"
                 name="primary"
                 label="Primary Number"
                 placeholder="Primary Number"
                 model="$ctrl.formData.primaryNumber"
                 country="$ctrl.formData.country"
                 member-id="$ctrl.formData.id"
                 required="$ctrl.formData.mobileAppUser"
                 has-changed="$ctrl.hasChanged('primaryNumber')">
    </phone-input>
    <alternative-phone-input form="$ctrl.form"
                             name="alternative"
                             label="Alternative Number"
                             placeholder="Alternative Number"
                             model="$ctrl.formData.alternativeNumber"
                             country="$ctrl.formData.country"
                             primary="$ctrl.formData.primaryNumber"
                             member-id="$ctrl.formData.id"
                             required="false"
                             has-changed="$ctrl.hasChanged('alternativeNumber')">
    </alternative-phone-input>
    {{$ctrl.formData.profiles}}
    <hr>
    {{$ctrl.added}}
    <hr>
    {{$ctrl.removed}}
    <hr>
    <list-input label="Roles"
                tooltip-text="Remove Role"
                add-modal-title="Assign to {{$ctrl.formData.name}}"
                empty-selection-text="No role assigned."
                not-in="$ctrl.formData.id"
                selected="$ctrl.formData.profiles"
                added="$ctrl.added"
                removed="$ctrl.removed">
    </list-input>
  </form>
</div>
