<div class="people-form" ng-if="$ctrl.selected">
  <form name="$ctrl.form" novalidate>
    <person-name form="$ctrl.form"
                 name="name"
                 label="Name"
                 placeholder="Name"
                 form-data="$ctrl.formData"
                 has-changed="$ctrl.hasPersonNameChanged()">
    </person-name>
    <person-email form="$ctrl.form"
                  name="email"
                  label="Email"
                  placeholder="Email"
                  form-data="$ctrl.formData"
                  has-changed="$ctrl.hasPersonEmailChanged()">
    </person-email>
    <country-input form="$ctrl.form"
                   name="country"
                   label="Country"
                   model="$ctrl.formData.country"
                   has-changed="$ctrl.hasCountryChanged()">
    </country-input>
  </form>
  <phone-input form="$ctrl.form"
               name="Primary Number"
               label="Primary Number"
               model="$ctrl.formData.primaryNumber"
               has-changed="$ctrl.hasPrimaryChanged()">
  </phone-input>
</div>
