<div class="people-form" ng-if="$ctrl.selected">
  <form name="$ctrl.form" novalidate>
    <person-name form="$ctrl.form"
                 name="name"
                 label="Name"
                 placeholder="Name"
                 form-data="$ctrl.formData"
                 disabled="$ctrl.isFormLoading()"
                 has-changed="$ctrl.hasChanged('name')">
    </person-name>
    <person-email form="$ctrl.form"
                  name="email"
                  label="Email"
                  placeholder="Email"
                  form-data="$ctrl.formData"
                  disabled="$ctrl.isFormLoading()"
                  has-changed="$ctrl.hasChanged('email')">
    </person-email>
    <country-input form="$ctrl.form"
                   name="country"
                   label="Country"
                   model="$ctrl.formData.country"
                   disabled="$ctrl.isFormLoading()"
                   has-changed="$ctrl.hasChanged('country')">
    </country-input>
    <phone-input form="$ctrl.form"
                 name="primary"
                 label="Primary Number"
                 placeholder="Primary Number"
                 model="$ctrl.formData.primaryNumber"
                 disabled="$ctrl.isFormLoading()"
                 country="$ctrl.formData.country"
                 member-id="$ctrl.formData.id"
                 required="$ctrl.formData.mobileAppUser"
                 has-changed="$ctrl.hasChanged('primaryNumber')">
    </phone-input>
    <alternative-phone-input form="$ctrl.form"
                             name="alternative"
                             label="Alternative Number"
                             placeholder="Alternative Number"
                             model="$ctrl.formData.alternativeNumber"
                             disabled="$ctrl.isFormLoading()"
                             country="$ctrl.formData.country"
                             primary="$ctrl.formData.primaryNumber"
                             member-id="$ctrl.formData.id"
                             required="false"
                             has-changed="$ctrl.hasChanged('alternativeNumber')">
    </alternative-phone-input>
    <list-input label="Roles"
                tooltip-text="Remove Role"
                add-modal-title="Assign to {{$ctrl.formData.name}}"
                empty-selection-text="No role assigned."
                not-in="$ctrl.formData.id"
                original="$ctrl.selected.data.profiles"
                selected="$ctrl.formData.profiles"
                added="$ctrl.added"
                removed="$ctrl.removed"
                disabled="$ctrl.isFormLoading()">
    </list-input>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right" ng-click="$ctrl.update()" ng-disabled="!$ctrl.isUpdateadble()">
        <span ng-show="$ctrl.isSaving"><i class="fa fa-spinner faa-spin animated"></i></span> Update
      </button>
      <button class="btn btn-danger pull-right" ng-click="$ctrl.delete()" ng-disabled="$ctrl.isFormLoading()" ng-if="$ctrl.deleteable">
        <span ng-show="$ctrl.isDeleting"><i class="fa fa-spinner faa-spin animated"></i></span> Delete
      </button>
      <button class="btn btn-info pull-left" ng-disabled="$ctrl.isFormLoading()" resend-email-button="$ctrl.formData">
        Resend Email
      </button>
    </div>
  </form>
</div>
