navigation
  & .navbar
    background-color #2f2f2f
    border-color #2f2f2f

  & .navbar-brand
    padding: 5px 15px

  & .navbar-top-links > li
      &.open>a, &>a:focus, &>a:hover
          background none !important
          color #ffffff

  & .sidebar ul li a.active
    z-index 2
    color #ffffff
    background-color #337ab7
    border-color #337ab7



